/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_haraldson.sass */
body {
  font: normal normal 15px/1 "Helvetica Neue", "Lucida Grande", Arial, FreeSans, sans-serif;
  color: #222222;
  text-decoration: none;
  text-transform: none;
}

/* line 4, ../sass/_haraldson.sass */
#container {
  width: 600px;
  height: auto;
  margin: 50px auto;
}
/* line 9, ../sass/_haraldson.sass */
#container h1 {
  font: normal 900 33px/1 "Helvetica Neue", "Lucida Grande", Arial, FreeSans, sans-serif;
  color: #222222;
  text-decoration: none;
  text-transform: none;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  margin-bottom: 18px;
}
/* line 14, ../sass/_haraldson.sass */
#container h1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -30px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background: #dddddd;
  display: block;
  margin: -9px 0 0;
}
/* line 24, ../sass/_haraldson.sass */
#container h2 {
  font: normal normal 24px/1.5 "Helvetica Neue", "Lucida Grande", Arial, FreeSans, sans-serif;
  color: #444444;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 3px;
}
/* line 28, ../sass/_haraldson.sass */
#container p,
#container ul,
#container ol,
#container dl {
  line-height: 1.5;
  margin-bottom: 25px;
}
/* line 35, ../sass/_haraldson.sass */
#container ul {
  list-style: none;
}
/* line 38, ../sass/_haraldson.sass */
#container ul > li {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
/* line 41, ../sass/_haraldson.sass */
#container ul > li:before {
  content: "";
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -15px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #bbbbbb;
  display: block;
  margin: -3px 0 0;
}
/* line 51, ../sass/_haraldson.sass */
#container blockquote {
  width: 600px;
  height: auto;
  padding: 20px;
  background: #f8f8f8;
  border-bottom: 5px solid #eeeeee;
  position: relative;
  top: auto;
  right: -20px;
  bottom: auto;
  left: -20px;
  margin: 35px 0 35px;
}
/* line 59, ../sass/_haraldson.sass */
#container blockquote p {
  font: normal 500 18px/1.4 "Helvetica Neue", "Lucida Grande", Arial, FreeSans, sans-serif;
  color: #666666;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 18px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
/* line 64, ../sass/_haraldson.sass */
#container blockquote p:before {
  content: "“";
  display: inline-block;
  height: 50px;
  float: left;
  font: normal 900 120px/1 "Helvetica Neue", "Lucida Grande", Arial, FreeSans, sans-serif;
  color: #dddddd;
  text-decoration: none;
  text-transform: none;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  margin: -14px 20px 10px 0;
}
/* line 73, ../sass/_haraldson.sass */
#container blockquote cite {
  display: block;
  font: italic normal 13px/1 "Helvetica Neue", "Lucida Grande", Arial, FreeSans, sans-serif;
  color: #aaaaaa;
  text-decoration: none;
  text-transform: none;
}
/* line 77, ../sass/_haraldson.sass */
#container blockquote cite:before {
  content: "— ";
}
